
{{ $image_path := substr .image 0 -4 }}
{{ $image_type := substr .image (sub (len .image) 3) 3 }}
{{ if .anchorless }}
<span class="progressiveImage progressiveImage--anchorless{{ if .cover }} progressiveImage--cover{{ end }}{{ if .class }} {{ .class }}{{ end }} replace"
  data-srcset="{{ .image }} 1920w,
    {{ $image_path }}-lg.{{ $image_type }} 1280w,
    {{ $image_path }}-md.{{ $image_type }} 1024w,
    {{ $image_path }}-sm.{{ $image_type }} 640w"
    {{ if .sizes }}data-sizes="{{ .sizes }}"{{ end }}
    data-src="{{.image }}">
    <img src="{{ $image_path }}-tmb.jpg" class="progressiveImage__preview"{{ if .alt }} alt="{{ .alt }}"{{ end }}>
</span>
{{ else }}
<a class="progressiveImage{{ if .cover }} progressiveImage--cover{{ end }}{{ if .class }} {{ .class }}{{ end }} replace" href="{{ .image }}"
  data-srcset="{{ .image }} 1920w,
    {{ $image_path }}-lg.{{ $image_type }} 1280w,
    {{ $image_path }}-md.{{ $image_type }} 1024w,
    {{ $image_path }}-sm.{{ $image_type }} 640w"
    {{ if .sizes }}data-sizes="{{ .sizes }}"{{ end }}>
    <img src="{{ $image_path }}-tmb.jpg" class="progressiveImage__preview"{{ if .alt }} alt="{{ .alt }}"{{ end }}>
</a>
{{ end }}