<nav class="navbar">
  {{ if .Site.Params.logo }}
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    {{ $url := printf "/img/%s" .Site.Params.logo }}
    <img src="{{ $url | absURL }}" alt="{{ .Site.Params.navigation.brand }}">
  </a>
  {{ else }}
  <a class="navbar-brand text-uppercase" href="{{ .Site.BaseURL }}">
    {{ .Site.Title }}
  </a>
  {{ end }}

  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navPrimary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i title="Toggle Navigation" class="fas fa-bars fa-lg"></i>
  </button>

  <ul class="navbar-nav mar-l-auto mar-b-0" id="navPrimary">
    {{ range .Site.Menus.main }}
      <li class="text-uppercase">
        <a class="px-3 py-2" href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
  {{ partial "social" . }}
</nav>