<div class="search text-light d-f fxd-r ai-c mar-l-md">
  <button id="search-toggle" class="search-toggle mar-r-sm bg-transparent border-none" aria-label="Toggle search">
    <i title="Search" class="fas fa-search fa-lg" data-target="search-form"></i>
  </button>
  <form id="search-query" action="{{ "search" | absURL }}">
    <input name="s" class="search-input bg-transparent border-round border-solid border-light border-sm pad-x-sm pad-y-xs text-light" placeholder="Search&hellip;" />
  </form>
</div>