{{ define "main" }}
  <main class="content {{ .Title }} category {{ .Section | urlize }}">
    <div class="product-controls mar-b-lg text-right">
        <button class="button button-light" data-view="productlist--grid-lg">
            <i title="Show as Large Grid" class="fas fa-th-large fa-lg"></i>
        </button>
      <button class="button" data-view="productlist--grid">
          <i title="Show as Grid" class="fas fa-th fa-lg"></i>
      </button>
      <button class="button button-light" data-view="productlist--rows">
          <i title="Show as list" class="fas fa-list fa-lg"></i>
      </button>
    </div>
    <section class="productlist productlist--grid">
      <div class="product-header bg-dark text-size-3 text-light text-bold">
        <span class="product-header--title">Product Name</span>
        <span class="product-header--id">ID</span>
        <span class="product-header--shape">Shape</span>
        <span class="product-header--length">Length</span>
        <span class="product-header--width">Width</span>
        <span class="product-header--depth">Depth</span>
      </div>
      {{ range .Paginator.Pages }}
        {{ .Render "productsummary" }}
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </main>
{{end}}