<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ partial "head/metadata" . }}
    {{ partial "head/favicons" . }}
    {{ partial "head/opengraph" . }}
    {{ partial "head/twitter" . }}
    {{ partial "head/styles" . }}
    {{ partial "head/prerender" . }}
  </head>
  <body>
    {{ partial "nav" . }}
    {{ block "header" . }}
      <header class="pagehead {{if $.Param "headerimage" }}pagehead--image pagehead--overlay{{ end }}">
        {{if $.Param "headerimage" }}
          {{ partial "image-progressive.html" (dict "image" ( $.Param "headerimage" ) "class" "pagehead-image" "alt" "Page Header Background" "sizes" "100vw" "cover" true ) }}
        {{ end }}
        <div class="pagehead-content">
          <h1 class="pagehead-title text-light text-uppercase">{{ .Title }}</h1>
          {{ if $.Param "subtitle" }}
          <p class="pagehead-subtitle text-light text-center mar-t-sm text-size-4">{{ $.Param "subtitle" }}</p>
          {{ end }}
        </div>
      </header>
    {{ end }}

    {{ block "main" . }}
    
    {{ end }}

    {{ block "feature" . }}

    {{ end }}

{{ partial "footer/site_footer" . }}
{{ partial "footer/scripts" . }}
{{ block "scripts" . }}{{ end }}
</body>
</html>