<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ partial "head/metadata" . }}
    {{ partial "head/favicons" . }}
    {{ partial "head/opengraph" . }}
    {{ partial "head/twitter" . }}
    {{ partial "head/styles" . }}
    {{ partial "head/prerender" . }}
  </head>
  <body>
    {{ partial "nav" . }}
    {{ block "header" . }}
      {{ if $.Param "banner.enabled" }}
      <header class="hero">
        <img class="hero-image" src="{{ $.Param "headerimage" }}">
        <div class="hero-content">
          <h1 class="hero-title text-light text-uppercase">{{ $.Param "banner.title" | markdownify }}</h1>
          <div class="hero-text text-light mar-t-sm">{{ $.Param "banner.text" | markdownify }}</div>
          <div class="hero-action mar-t-md">
            <a href="{{ $.Param "banner.primaryaction.url" | urlize }}" class="button button-xl">{{ $.Param "banner.primaryaction.text" }}</a>
            {{ if $.Param "banner.secondaryaction.text" }}<a href="{{ $.Param "banner.secondaryaction.url" | urlize }}" class="button button-xl button-outline-light">{{ $.Param "banner.secondaryaction.text" }}</a>{{ end }}
          </div>
        </div>
        <svg class="hero-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" preserveAspectRatio="none">
          <path d="M0,0c100,60,400,60,500,0v54.9H0V0z"/>
        </svg>
      </header>
      {{ else }}
      <header class="pagehead {{if $.Param "headerimage" }}pagehead--image pagehead--overlay{{ end }}">
          {{if $.Param "headerimage" }}<img class="pagehead-image" src="{{ $.Param "headerimage" }}">{{ end }}
        <h1 class="pagehead-title text-light text-uppercase">{{ .Title }}</h1>
      </header>
      {{ end }}
    {{ end }}

    {{ block "main" . }}
    
    {{ end }}

    {{ block "feature" . }}

    {{ end }}

{{ partial "footer/site_footer" . }}
{{ partial "footer/scripts" . }}
</body>
</html>