<ul class="productcats">
  {{ range .Site.Data.categories.list }}
  <li class="productcat productcat--{{ .name }} mar-b-lg bg-light">
    <a href="{{ "/categories/" | relLangURL }}{{ .name | urlize }}">
      {{ partial "image-progressive.html" (dict "image" .headerimage "class" "productcat-image" "alt" .name "sizes" "(min-width: 48em) 33vw, 100vw" "cover" true "anchorless" true ) }}
      <h3 class="productcat-title text-size-5 text-normal text-dark pad-y-sm pad-x-md">{{ .name }}</h3>
    </a>
  </li>
  {{ end }}
</ul>