<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Montserrat:400,700', 'Zilla Slab:400,400i,700,700i']
    }
  });
</script>
<script src="/app.js"></script>
<script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity.js"></script>
<script>document.addEventListener("DOMContentLoaded",function(){netlifyIdentity.init()});</script>
<script>window.netlifyIdentity&&window.netlifyIdentity.on("init",function(n){n||window.netlifyIdentity.on("login",function(){document.location.href="/admin/"})});</script>