{{ define "main" }}
  <main class="content {{ .Title }}">
    <section class="section text-size-4 text-left text-light bg-dark">
      {{ .Content }}
    </section>
    {{ range $.Param "sections" }}
      {{ if eq .image "" }}
        <section class="section text-size-4 text-light bg-dark text-left">
          {{ .text | markdownify }}
        </section>
      {{ else }}
        <section class="section section--split text-size-4">
          <div class="section-split">
            {{ .text | markdownify }}
          </div>
          {{ $imageurl := .image }}
          {{ partial "image-progressive.html" (dict "image" $imageurl "class" "section-split section-split-image" "alt" "This is a test" "sizes" "(min-width: 48em) 33vw, 100vw" "cover" true ) }}
        </section>
      {{ end }}
    {{end}}
  </main>
{{end}}