{{ define "main" }}
  <main class="content {{ .Title }}">
    {{ $sections := split .Content "<split>" }}
    {{ range $i, $a := $sections }}
      {{ if or (eq $i 0) (eq (add $i 1) (len $sections)) }}
        <section class="section text-size-4">
          {{ $a | markdownify }}
        </section>
      {{ else }}
        <section class="section section--split text-size-4">
          <div class="section-split">
            {{ $a | markdownify }}
          </div>
          <img class="section-split section-split-image" src="/img/about-section-{{ $i }}.jpg">
        </section>
      {{ end }}
    {{end}}
  </main>
{{end}}