.navbar {
  background: var(--state-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 50;

  &-brand {
    color: white;
    font-size: 1.5rem;
    width: auto;

    & img {
      height: 3rem;
    }

    &:--enter {
      text-decoration: none;
    }
  }

  &-toggle {
    display: block;
    margin-left: auto;
    position: relative;
    z-index: 5;
  }

  &-nav {
    background: var(--state-dark);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content :center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 100vw;
    transform: translateY(-100vh);

    &.is-active {
      transition: transform 0.2s ease-in-out;
    }

    &.is-open {
      transform: translateY(0);
    }

    li {
      margin: 1rem 0;

      a {
        color: white;
        font-family: var(--font-sans-serif);
        font-size: 1.125rem;
        padding: 0.5rem 1rem;
        text-align: center;

        &:--enter {
          text-decoration: none;
          color: var(--state-primary);
        }
      }
    }
  }

  & .social {
    display: none;

    li {

      a {
        color: white;

        &:--enter {
          color: var(--state-primary);
        }
      }
    }
  }

  & + .hero, & + .pagehead {
    padding-top: 5rem;
  }
}

@media (--breakpoint-md-up) { 
  .navbar {
    background: transparent;
    padding: 2rem 1rem;

    &-brand {
      & img {
        height: 4rem;
      }
    }

    &-toggle {
      display: none;
    }

    &-nav {
      background: none;
      flex-direction: row;
      height: auto;
      width: auto;
      position: static;
      transform: translateY(0);
      transition: none;
    }

    & .social {
      display: inherit;
      margin-left: 1rem;
    }

    &.is-shrunk {
      background: var(--state-dark);
      padding: 1rem 1rem;

      & .navbar-brand img {
        height: 2.5rem;
      }
    }

    & + .hero, & + .pagehead {
      padding-top: 6.5rem;
    }
  }
}

@media (--breakpoint-md-up) {
  .navbar {
    padding: 2rem;
  }
}