.mar-l-auto { margin-left: auto; }
.mar-r-auto { margin-right: auto; }
.mar-t-auto { margin-top: auto; }
.mar-b-auto { margin-bottom: auto; }

.text-normal { font-weight: var(--font-weight); }
.text-size-1 { font-size: 0.5em; }
.text-size-2 { font-size: 0.75em; }
.text-size-3 { font-size: 1em; }
.text-size-4 { font-size: 1.25em }
.text-size-5 { font-size: 1.5em; }
.text-size-6 { font-size: 2em; }
.text-size-7 { font-size: 3em; }

.border-round { border-radius: 0.5rem; }
.border-round-sm { border-radius: 0.25rem; }
.border-round-lg { border-radius: 1rem; }