.d-b { display: block; }
.d-ib { display: inline-block; }

.mar-l-auto { margin-left: auto; }
.mar-r-auto { margin-right: auto; }
.mar-t-auto { margin-top: auto; }
.mar-b-auto { margin-bottom: auto; }

.text-normal { font-weight: var(--font-weight); }
.text-size-1 { font-size: 0.5em; }
.text-size-2 { font-size: 0.75em; }
.text-size-3 { font-size: 1em; }
.text-size-4 { font-size: 1.25em }
.text-size-5 { font-size: 1.5em; }
.text-size-6 { font-size: 2em; }
.text-size-7 { font-size: 3em; }

.border-round { border-radius: 0.5rem; }
.border-round-sm { border-radius: 0.25rem; }
.border-round-lg { border-radius: 1rem; }

.jc-fs { justify-content: flex-start !important; }
.jc-fe { justify-content: flex-end !important; }
.jc-c { justify-content: center !important; }

.ai-b { align-items:baseline !important; }
.ai-c { align-items:center !important; }
.ai-fe { align-items:flex-end !important; }
.ai-fs { align-items:flex-start !important; }
.ai-s { align-items:stretch !important; }